# Binaries
**/bin/
bin-int/
x64/
CFrame/vendor/freetype/
CFrame/src/CFrame/res/fonts/


# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj"CFrame/vendor/glm/" 
"CFrame/vendor/glm/" 
